#dropzone-area {
  border: 2px, dashed, #08192D;
  border-radius: 5px;
  background: white;
}

.page-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
